extends layout
block content
    .ui.container
        if value
            .ui.labeled.button(tabindex='0')
                .ui.red.button
                    i.fa.fa-heart
                    |  Like
                a.ui.basic.red.left.pointing.label 1.8M
            .ui.labeled.button(tabindex='0')
                .ui.black.button
                    i.fa.fa-eye
                    |  Views
                a.ui.basic.black.left.pointing.label=views
        if link
            .ui.icon.message
                i.inbox.icon
                .content
                    .header Your code uploaded
                    p Share #{link}
        form.ui.form(action='/upload', method='post')
            .field
                if !value
                    label Your Code/Text
                textarea(style='resize: none; margin-top: 0.8em;' rows='20' name='code' readonly=value)=value
            if !value
                button.ui.button Submit
            else
                a.ui.button.green(href='/raw/'+id)
                    i.fa.fa-share
                    |  Raw
                
                button.ui.button.red
                    i.fa.fa-exclamation-circle 
                    |  Abusive Content
            
