extends layout
block content
    .ui.container
        if value
            .ui.labeled.button(tabindex='0')
                .ui.red.button
                    i.fa.fa-heart
                    |  Like
                a.ui.basic.red.left.pointing.label 1.8M
            .ui.labeled.button(tabindex='0')
                .ui.black.button
                    i.fa.fa-eye
                    |  Views
                a.ui.basic.black.left.pointing.label 2M
                
        form.ui.form(action='/upload', method='post')
            .field
                if !value
                    label Your Code/Text
                textarea(style='resize: none; margin-top: 0.8em;' rows='20' name='code')=value
            if !value
                button.ui.button Submit
            
